
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    font-size: 30px;
    align-items: left;
    justify-content: left;
    text-align: center;
    background-color: rgb(44, 47, 232);
    color: white;
    padding: 5px;}     
nav{
    display: flex;
    justify-content: right;
    gap: 20px;


    text-align: center; 
    background-color: rgb(44, 47, 232);
    padding: 10px;} 
nav a{
    font-size: 30px;
    color: white;
}
h1{
    font-size: 50px;
}

main{
    
    text-align: left;
    font-size: 50px ;
    animation: colorcycle 3s infinite;

}   
@keyframes colorcycle  {
    0%{color: red;}
    25%{color: blue;}
    50%{color: green;}
    75%{color: yellow;}
    100%{color: purple;}
}     

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


.intro-img {
    width: 300px;
    border-radius: 10px;
}
h2{
    font-size: 25px;    
    text-align: left;
    margin-left: 30px;
}
p{
    font-size: 15px;
    text-align: left;
    margin-left: 30px;
   
}
#skills{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px ;
}
.skills {
    flex: 1;
    font-size: 20px;

    text-align: center;
    margin: 20px;
    background-color: rgb(44, 47, 232);
    color: white;
    padding: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);


   

}
.skills:hover {
    box-shadow: 0 0 25px 7px rgba(0, 255, 0, 0.8);
    cursor: crosshair;
}
.Projects{
    display: flex;
    align-items:center;
    border:2px solid black;
    border-radius: 8% ;
    height:380px;
    width: 500px;
    margin-top: 60px ;
    margin-left:400px;
    background-size: cover; 
}
#Project1{
   animation-name:Project1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay:2s;

}
#Project2{
    animation-name:Project2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay:2s;
    background-size: cover;

}


@keyframes Project1 {
    0% {background-image: url('calorie.png');}
    33% {background-image: url('calorie2.jpg');}
    66% {background-image: url('calorie3.jpg');}
    100% {background-image: url('calorie.png');}
}
@keyframes Project2 {
    0% {background-image: url('pic1.jpg'); }
    50% {background-image: url(pic2.jpg);}
    100% {background-image: url('pic3.jpg');}
}





form{
    text-align: center;
    margin: 50px;   
    padding: 30px;
    border: 2px solid black;
    background-color: rgb(235, 235, 235);
    
}
input[type="text"], input[type="email"]{
    width: 300px;
    height: 40px;
}
textarea{
    width: 300px;
    height: 100px;
}   
textarea, input{
    margin: 10px;
    padding: 5px;
}

button {
  background-color: rgb(44, 47, 232);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(30, 35, 180);
}
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(44, 47, 232);
  color: white;
  padding: 12px 25px;
  border: none;
  cursor: pointer;

  
}
#backToTop:hover {
  background-color: rgb(30, 35, 180);
}
.copyright {
    text-align: center;
    padding: 15px;
    background-color: #230494; 
    color: white;
    font-size: 14px;
    margin-top: 40px;
}
